
<div class= "container">
	<div class="sidebar">
		
			<% @this_month.each do |show| %>
			<%= show.date.strftime("%B %d, %Y at %I:%M%p") %>
			<br>
			<%= link_to("#{show.artist}", show_path(show.id)) %>
			<br>
			<%= show.venue %> in <%= show.city %>
			
			<br>
			<br>

<% end %>
	</div>
		<p>Today's concerts </p>
		<% @todays_shows.each do  |show| %>
		<%= link_to("#{show.artist}", show_path(show.id) ) %>
		<%= show.date.strftime("%B %d, %Y at %I:%M%p") %>

<% end %>

<p><%= link_to("Add a show", new_show_path) %></p>
