
<ul> 
	<% @shows.each do |show| %>

	<li><%= show.artist %> 
		<br>
		in 
		<%= show.city %>
		<br>
		on
		<%= show.date %>
		
		<br>
		<%= link_to("details", show_path(show.id) ) %>
		<br>
		<br>

	 </li>
	<% end %>
</ul>

 <p><%= link_to("New", new_show_path) %></p>
 <p><%= link_to("Shows", shows_path) %></p>