<!DOCTYPE html>
<html>
<head>
	<header> Music Concert Network </header>
	<br>
	<br>
	<br>
  <title>Concert</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<br>
<br>
<br>
<footer><%= link_to("Add a show", new_show_path) %> <%=link_to("Concerts", shows_path) %> <%=link_to("Home", home_path) %> </footer>
</html>
